<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.berenice.fitness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version" />
        <!--  android:value="@integer/google_play_services_version" />  -->

        <activity
            android:name="com.example.berenice.fitness.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Calorias">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Manzana">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Agua">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Pera">
        </activity>
        <activity
        android:screenOrientation="portrait"
        android:name="com.example.berenice.fitness.Caramelos">
    </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Cerveza">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Chocolate">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.CocaCola">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.CocaColaLight">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Frituras">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.Galletas">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.ProgressActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.LevelActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.WorkoutActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.CongratulationsActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.InstructionsActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.example.berenice.fitness.CreditsActivity">
        </activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

 </manifest>